<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.bc_mall_server.mapper.WilliamRoleMapper" >
  <resultMap id="BaseResultMap" type="com.william.bcpojo.WilliamRole" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
    <result column="delete_type" property="deleteType" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mod_id" property="modId" jdbcType="CHAR" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                   and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    william_role.role_id as role_id, william_role.role_name as role_name, william_role.role_desc as role_desc,
    william_role.delete_type as delete_type, william_role.create_id as create_id, william_role.create_time as create_time,
    william_role.mod_id as mod_id, william_role.mod_time as mod_time, william_role.status as status,
    william_role.tenant_id as tenant_id, william_role.client as client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from william_role
    where william_role.role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from william_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.bcpojo.WilliamRoleExample" >
    delete from william_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.bcpojo.WilliamRole" >
    insert into william_role (role_id, role_name, role_desc,
    delete_type, create_id, create_time,
    mod_id, mod_time, status,
    tenant_id, client)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR},
    #{deleteType,jdbcType=INTEGER}, #{createId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{modId,jdbcType=CHAR}, #{modTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
    #{tenantId,jdbcType=CHAR}, #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.bcpojo.WilliamRole" >
    insert into william_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleDesc != null" >
        role_desc,
      </if>
      <if test="deleteType != null" >
        delete_type,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modId != null" >
        mod_id,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.bcpojo.WilliamRoleExample" resultType="java.lang.Integer" >
    select count(*) from william_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_role
    <set >
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleName != null" >
        role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleDesc != null" >
        role_desc = #{record.roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteType != null" >
        delete_type = #{record.deleteType,jdbcType=INTEGER},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null" >
        mod_id = #{record.modId,jdbcType=CHAR},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_role
    set role_id = #{record.roleId,jdbcType=INTEGER},
    role_name = #{record.roleName,jdbcType=VARCHAR},
    role_desc = #{record.roleDesc,jdbcType=VARCHAR},
    delete_type = #{record.deleteType,jdbcType=INTEGER},
    create_id = #{record.createId,jdbcType=CHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    mod_id = #{record.modId,jdbcType=CHAR},
    mod_time = #{record.modTime,jdbcType=TIMESTAMP},
    status = #{record.status,jdbcType=INTEGER},
    tenant_id = #{record.tenantId,jdbcType=CHAR},
    client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.bcpojo.WilliamRole" >
    update william_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteType != null" >
        delete_type = #{deleteType,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        mod_id = #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.bcpojo.WilliamRole" >
    update william_role
    set role_name = #{roleName,jdbcType=VARCHAR},
    role_desc = #{roleDesc,jdbcType=VARCHAR},
    delete_type = #{deleteType,jdbcType=INTEGER},
    create_id = #{createId,jdbcType=CHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    mod_id = #{modId,jdbcType=CHAR},
    mod_time = #{modTime,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=INTEGER},
    tenant_id = #{tenantId,jdbcType=CHAR},
    client = #{client,jdbcType=CHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>

  <sql id="SQL_COLUMN">
     william_role.role_id, william_role.role_name, william_role.role_desc, william_role.delete_type, william_role.create_id,
     william_role.create_time, william_role.mod_id,william_role.status,
     william_role.mod_time, william_role.status, william_role.tenant_id, william_role.client
  </sql>

  <!-- 查所有角色 -->
  <select id="getAllRoles" resultType="com.william.bcpojo.bcresp.UserRoleResp">
      select
      <include refid="SQL_COLUMN"/>,
      a.user_name as create_name,
      b.user_name as mod_name
      from william_role
      left join william_user as a on a.user_id = create_id
      left join william_user as b on b.user_id = mod_id
      where william_role.status = 1
  </select>

  <!-- 查用户角色-->
  <select id="getByUserId" resultType="com.william.bcpojo.bcresp.UserRoleResp">
    select
    <include refid="SQL_COLUMN"/>
    from william_role
    inner join william_user_role on william_user_role.role_id = william_role.role_id and william_user_role.user_id = #{userId}
    and william_user_role.status = 1
</select>
</mapper>