<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.bc_mall_server.mapper.WilliamPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.william.bcpojo.WilliamPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="percode" property="percode" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="icon_color" property="iconColor" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="spread" property="spread" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="menu_color" property="menuColor" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="show_flag" property="showFlag" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mod_id" property="modId" jdbcType="CHAR" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    william_permission.id as id, william_permission.pid as pid, william_permission.title as title, 
    william_permission.type as type, william_permission.percode as percode, william_permission.icon as icon, 
    william_permission.icon_color as icon_color, william_permission.href as href, william_permission.spread as spread, 
    william_permission.level as level, william_permission.menu_color as menu_color, william_permission.seq as seq, 
    william_permission.show_flag as show_flag, william_permission.target as target, william_permission.remark as remark, 
    william_permission.status as status, william_permission.create_id as create_id, william_permission.create_time as create_time, 
    william_permission.mod_id as mod_id, william_permission.mod_time as mod_time, william_permission.tenant_id as tenant_id, 
    william_permission.client as client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamPermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from william_permission
    where william_permission.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from william_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.bcpojo.WilliamPermissionExample" >
    delete from william_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.bcpojo.WilliamPermission" >
    insert into william_permission (id, pid, title, 
      type, percode, icon, 
      icon_color, href, spread, 
      level, menu_color, seq, 
      show_flag, target, remark, 
      status, create_id, create_time, 
      mod_id, mod_time, tenant_id, 
      client)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{percode,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{iconColor,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{spread,jdbcType=INTEGER}, 
      #{level,jdbcType=VARCHAR}, #{menuColor,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{showFlag,jdbcType=INTEGER}, #{target,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modId,jdbcType=CHAR}, #{modTime,jdbcType=TIMESTAMP}, #{tenantId,jdbcType=CHAR}, 
      #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.bcpojo.WilliamPermission" >
    insert into william_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="percode != null" >
        percode,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="iconColor != null" >
        icon_color,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="spread != null" >
        spread,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="menuColor != null" >
        menu_color,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="showFlag != null" >
        show_flag,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modId != null" >
        mod_id,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="percode != null" >
        #{percode,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="iconColor != null" >
        #{iconColor,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="spread != null" >
        #{spread,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuColor != null" >
        #{menuColor,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="showFlag != null" >
        #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.bcpojo.WilliamPermissionExample" resultType="java.lang.Integer" >
    select count(*) from william_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_permission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.percode != null" >
        percode = #{record.percode,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.iconColor != null" >
        icon_color = #{record.iconColor,jdbcType=VARCHAR},
      </if>
      <if test="record.href != null" >
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.spread != null" >
        spread = #{record.spread,jdbcType=INTEGER},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.menuColor != null" >
        menu_color = #{record.menuColor,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null" >
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.showFlag != null" >
        show_flag = #{record.showFlag,jdbcType=INTEGER},
      </if>
      <if test="record.target != null" >
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null" >
        mod_id = #{record.modId,jdbcType=CHAR},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_permission
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      percode = #{record.percode,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      icon_color = #{record.iconColor,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      spread = #{record.spread,jdbcType=INTEGER},
      level = #{record.level,jdbcType=VARCHAR},
      menu_color = #{record.menuColor,jdbcType=VARCHAR},
      seq = #{record.seq,jdbcType=INTEGER},
      show_flag = #{record.showFlag,jdbcType=INTEGER},
      target = #{record.target,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_id = #{record.createId,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      mod_id = #{record.modId,jdbcType=CHAR},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      tenant_id = #{record.tenantId,jdbcType=CHAR},
      client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.bcpojo.WilliamPermission" >
    update william_permission
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="percode != null" >
        percode = #{percode,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="iconColor != null" >
        icon_color = #{iconColor,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="spread != null" >
        spread = #{spread,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuColor != null" >
        menu_color = #{menuColor,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="showFlag != null" >
        show_flag = #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        mod_id = #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.bcpojo.WilliamPermission" >
    update william_permission
    set pid = #{pid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      percode = #{percode,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      icon_color = #{iconColor,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      spread = #{spread,jdbcType=INTEGER},
      level = #{level,jdbcType=VARCHAR},
      menu_color = #{menuColor,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      show_flag = #{showFlag,jdbcType=INTEGER},
      target = #{target,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mod_id = #{modId,jdbcType=CHAR},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      tenant_id = #{tenantId,jdbcType=CHAR},
      client = #{client,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamPermissionExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from william_permission
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageSize} offset #{startPos} 

  </select>

  <!-- 查所有权限和菜单-->
  <select id="getAllPermissionAndMenus" resultType="com.william.bcpojo.WilliamPermission">
     select
     <include refid="Base_Column_List"/>
     from william_permission where status = 1
  </select>

  <!-- 查所有权限-->
  <select id="getAllPermission" resultType="com.william.bcpojo.WilliamPermission">
    select
    <include refid="Base_Column_List"/>
    from william_permission where status != 99 and type = 2 and pid = #{id}
    ORDER by seq asc
  </select>

  <!-- 查询当前菜单下 是否有子菜单-->
  <select id="selectMenusByPid">
     select
     <include refid="Base_Column_List"/>
      from william_permission
      where pid = #{pid} and type = 1 and status = 1
  </select>
</mapper>