<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.bc_mall_server.mapper.WilliamMenuMapper" >
  <resultMap id="BaseResultMap" type="com.william.bcpojo.WilliamMenu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="root_id" property="rootId" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="icon_color" property="iconColor" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="spread" property="spread" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="menu_color" property="menuColor" jdbcType="VARCHAR" />
    <result column="show_flag" property="showFlag" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ent_id" property="entId" jdbcType="CHAR" />
    <result column="ent_name" property="entName" jdbcType="VARCHAR" />
    <result column="ent_date" property="entDate" jdbcType="TIMESTAMP" />
    <result column="mod_id" property="modId" jdbcType="CHAR" />
    <result column="mod_name" property="modName" jdbcType="VARCHAR" />
    <result column="mod_date" property="modDate" jdbcType="TIMESTAMP" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id, type, pid, root_id, system_id, code, title, icon, icon_color, href, spread, 
    level, menu_color, show_flag, target, remark, status, ent_id, ent_name, ent_date, 
    mod_id, mod_name, mod_date, tenant_id, client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from william_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from william_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.bcpojo.WilliamMenuExample" >
    delete from william_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.bcpojo.WilliamMenu" >
    insert into william_menu (menu_id, type, pid, 
      root_id, system_id, code, 
      title, icon, icon_color, 
      href, spread, level, 
      menu_color, show_flag, target, 
      remark, status, ent_id, 
      ent_name, ent_date, mod_id, 
      mod_name, mod_date, tenant_id, 
      client)
    values (#{menuId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{rootId,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{iconColor,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{spread,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR}, 
      #{menuColor,jdbcType=VARCHAR}, #{showFlag,jdbcType=INTEGER}, #{target,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{entId,jdbcType=CHAR}, 
      #{entName,jdbcType=VARCHAR}, #{entDate,jdbcType=TIMESTAMP}, #{modId,jdbcType=CHAR}, 
      #{modName,jdbcType=VARCHAR}, #{modDate,jdbcType=TIMESTAMP}, #{tenantId,jdbcType=CHAR}, 
      #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.bcpojo.WilliamMenu" >
    insert into william_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="rootId != null" >
        root_id,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="iconColor != null" >
        icon_color,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="spread != null" >
        spread,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="menuColor != null" >
        menu_color,
      </if>
      <if test="showFlag != null" >
        show_flag,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="entId != null" >
        ent_id,
      </if>
      <if test="entName != null" >
        ent_name,
      </if>
      <if test="entDate != null" >
        ent_date,
      </if>
      <if test="modId != null" >
        mod_id,
      </if>
      <if test="modName != null" >
        mod_name,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="rootId != null" >
        #{rootId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="iconColor != null" >
        #{iconColor,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="spread != null" >
        #{spread,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuColor != null" >
        #{menuColor,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null" >
        #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="entId != null" >
        #{entId,jdbcType=CHAR},
      </if>
      <if test="entName != null" >
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="entDate != null" >
        #{entDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        #{modId,jdbcType=CHAR},
      </if>
      <if test="modName != null" >
        #{modName,jdbcType=VARCHAR},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.bcpojo.WilliamMenuExample" resultType="java.lang.Integer" >
    select count(*) from william_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.rootId != null" >
        root_id = #{record.rootId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null" >
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.iconColor != null" >
        icon_color = #{record.iconColor,jdbcType=VARCHAR},
      </if>
      <if test="record.href != null" >
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.spread != null" >
        spread = #{record.spread,jdbcType=INTEGER},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.menuColor != null" >
        menu_color = #{record.menuColor,jdbcType=VARCHAR},
      </if>
      <if test="record.showFlag != null" >
        show_flag = #{record.showFlag,jdbcType=INTEGER},
      </if>
      <if test="record.target != null" >
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.entId != null" >
        ent_id = #{record.entId,jdbcType=CHAR},
      </if>
      <if test="record.entName != null" >
        ent_name = #{record.entName,jdbcType=VARCHAR},
      </if>
      <if test="record.entDate != null" >
        ent_date = #{record.entDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null" >
        mod_id = #{record.modId,jdbcType=CHAR},
      </if>
      <if test="record.modName != null" >
        mod_name = #{record.modName,jdbcType=VARCHAR},
      </if>
      <if test="record.modDate != null" >
        mod_date = #{record.modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_menu
    set menu_id = #{record.menuId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      root_id = #{record.rootId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      icon_color = #{record.iconColor,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      spread = #{record.spread,jdbcType=INTEGER},
      level = #{record.level,jdbcType=VARCHAR},
      menu_color = #{record.menuColor,jdbcType=VARCHAR},
      show_flag = #{record.showFlag,jdbcType=INTEGER},
      target = #{record.target,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      ent_id = #{record.entId,jdbcType=CHAR},
      ent_name = #{record.entName,jdbcType=VARCHAR},
      ent_date = #{record.entDate,jdbcType=TIMESTAMP},
      mod_id = #{record.modId,jdbcType=CHAR},
      mod_name = #{record.modName,jdbcType=VARCHAR},
      mod_date = #{record.modDate,jdbcType=TIMESTAMP},
      tenant_id = #{record.tenantId,jdbcType=CHAR},
      client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.bcpojo.WilliamMenu" >
    update william_menu
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="rootId != null" >
        root_id = #{rootId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        system_id = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="iconColor != null" >
        icon_color = #{iconColor,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="spread != null" >
        spread = #{spread,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="menuColor != null" >
        menu_color = #{menuColor,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null" >
        show_flag = #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="entId != null" >
        ent_id = #{entId,jdbcType=CHAR},
      </if>
      <if test="entName != null" >
        ent_name = #{entName,jdbcType=VARCHAR},
      </if>
      <if test="entDate != null" >
        ent_date = #{entDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        mod_id = #{modId,jdbcType=CHAR},
      </if>
      <if test="modName != null" >
        mod_name = #{modName,jdbcType=VARCHAR},
      </if>
      <if test="modDate != null" >
        mod_date = #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.bcpojo.WilliamMenu" >
    update william_menu
    set type = #{type,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      root_id = #{rootId,jdbcType=VARCHAR},
      system_id = #{systemId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      icon_color = #{iconColor,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      spread = #{spread,jdbcType=INTEGER},
      level = #{level,jdbcType=VARCHAR},
      menu_color = #{menuColor,jdbcType=VARCHAR},
      show_flag = #{showFlag,jdbcType=INTEGER},
      target = #{target,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      ent_id = #{entId,jdbcType=CHAR},
      ent_name = #{entName,jdbcType=VARCHAR},
      ent_date = #{entDate,jdbcType=TIMESTAMP},
      mod_id = #{modId,jdbcType=CHAR},
      mod_name = #{modName,jdbcType=VARCHAR},
      mod_date = #{modDate,jdbcType=TIMESTAMP},
      tenant_id = #{tenantId,jdbcType=CHAR},
      client = #{client,jdbcType=CHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>