<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.william.bc_mall_server.mapper.WilliamDeptMapper" >
  <resultMap id="BaseResultMap" type="com.william.bcpojo.WilliamDept" >
    <id column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="dept_pid" property="deptPid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mod_id" property="modId" jdbcType="CHAR" />
    <result column="mod_time" property="modTime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    william_dept.dept_id as dept_id, william_dept.dept_name as dept_name, william_dept.dept_pid as dept_pid, 
    william_dept.remark as remark, william_dept.seq as seq, william_dept.create_id as create_id, 
    william_dept.create_time as create_time, william_dept.mod_id as mod_id, william_dept.mod_time as mod_time, 
    william_dept.status as status, william_dept.tenant_id as tenant_id, william_dept.client as client
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamDeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from william_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from william_dept
    where william_dept.dept_id = #{deptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from william_dept
    where dept_id = #{deptId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.william.bcpojo.WilliamDeptExample" >
    delete from william_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.william.bcpojo.WilliamDept" >
    insert into william_dept (dept_id, dept_name, dept_pid, 
      remark, seq, create_id, 
      create_time, mod_id, mod_time, 
      status, tenant_id, client)
    values (#{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{deptPid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{createId,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modId,jdbcType=CHAR}, #{modTime,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{tenantId,jdbcType=CHAR}, #{client,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.william.bcpojo.WilliamDept" >
    insert into william_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="deptPid != null" >
        dept_pid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modId != null" >
        mod_id,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="client != null" >
        client,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null" >
        #{deptPid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.william.bcpojo.WilliamDeptExample" resultType="java.lang.Integer" >
    select count(*) from william_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update william_dept
    <set >
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.deptName != null" >
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptPid != null" >
        dept_pid = #{record.deptPid,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null" >
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null" >
        mod_id = #{record.modId,jdbcType=CHAR},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update william_dept
    set dept_id = #{record.deptId,jdbcType=INTEGER},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      dept_pid = #{record.deptPid,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      seq = #{record.seq,jdbcType=INTEGER},
      create_id = #{record.createId,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      mod_id = #{record.modId,jdbcType=CHAR},
      mod_time = #{record.modTime,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      tenant_id = #{record.tenantId,jdbcType=CHAR},
      client = #{record.client,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.william.bcpojo.WilliamDept" >
    update william_dept
    <set >
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null" >
        dept_pid = #{deptPid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null" >
        mod_id = #{modId,jdbcType=CHAR},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=CHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.william.bcpojo.WilliamDept" >
    update william_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_pid = #{deptPid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mod_id = #{modId,jdbcType=CHAR},
      mod_time = #{modTime,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      tenant_id = #{tenantId,jdbcType=CHAR},
      client = #{client,jdbcType=CHAR}
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.william.bcpojo.WilliamDeptExample" >
    select 
<if test="distinct" > 
distinct 
</if> 
<include refid="Base_Column_List" /> 
from william_dept
<if test="_parameter != null" > 
<include refid="Example_Where_Clause" /> 
</if> 
<if test="orderByClause != null" > 
order by ${orderByClause} 
</if> 
limit #{pageSize} offset #{startPos} 

  </select>
</mapper>