<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>商品列表--右边列表</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
<link rel="stylesheet" th:href="@{/layui_ext/dtree/dtree.css}" media="all" />
<link rel="stylesheet" th:href="@{/layui_ext/dtree/font/dtreefont.css}" media="all" />

</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote">
	<form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">商品分类</label>
		      <div class="layui-input-inline">
		        <input type="text" name="name"  autocomplete="off" class="layui-input">
		      </div>
				<label class="layui-form-label">品牌分类</label>
				<div class="layui-input-inline">
					<input type="text" name="bChName"  autocomplete="off" class="layui-input">
				</div>
		      <div class="layui-input-inline">
		       	<button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
      			<button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
		      </div>
		    </div>
		  </div>
	</form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
	<table class="layui-hide" id="goodsTable" lay-filter="goodsTable"></table>
	<div id="goodsToolBar" style="display: none;">
		<!--<button type="button" lay-event="add" class="layui-btn layui-btn-sm" shiro:hasPermission="good:add"><span class="layui-icon layui-icon-add-1"></span>添加商品</button>-->
		<button type="button" lay-event="add" class="layui-btn layui-btn-sm" shiro:hasPermission="product:add"><span class="layui-icon layui-icon-add-1"></span>添加商品</button>
	</div>
	
	<div id="goodsRowBar" style="display: none;">
		<button type="button" lay-event="update" class="layui-btn layui-btn-sm layui-btn-normal" shiro:hasPermission="product:update"><span class="layui-icon layui-icon-edit"></span>更新</button>
		<button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger" shiro:hasPermission="product:del"><span class="layui-icon layui-icon-delete"></span>删除</button>
	</div>
</div>

<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
	<form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
		<input type="hidden" name="id">
		<!--<div class="layui-form-item">-->
			<!--<div class="layui-inline">-->
				<!--<label class="layui-form-label">创建人</label>-->
				<!--<div class="layui-inline">-->
					<!--<input type="text" name="createName" id="createName" lay-verify="required" disabled autocomplete="off" placeholder="请输入商品编号" class="layui-input">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="layui-inline">-->
				<!--<label class="layui-form-label">创建时间</label>-->
				<!--<div class="layui-inline">-->
					<!--<input type="text" name="createTime" id="createTime" autocomplete="off" disabled placeholder="请输入商品名称" class="layui-input">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="layui-inline">-->
				<!--<label class="layui-form-label">修改人</label>-->
				<!--<div class="layui-inline">-->
					<!--<input type="text" name="updateId" id="updateId" lay-verify="required" disabled autocomplete="off" placeholder="请输入商品编号" class="layui-input">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="layui-inline">-->
				<!--<label class="layui-form-label">修改时间</label>-->
				<!--<div class="layui-inline">-->
					<!--<input type="text" name="updateTime" id="updateTime" autocomplete="off" disabled placeholder="请输入商品名称" class="layui-input">-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">商品分类</label>
				<div class="layui-inline">
					<input type="hidden" name="cId" id="cId" placeholder="请选择分类">
					<ul id="productCategoryTree" class="dtree" data-id="0"></ul>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品品牌</label>
				<div class="layui-inline">
					<div class="layui-input-inline">
						<select name="bId" id="bid" >
							<option value="">选择品牌</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品名称</label>
				<div class="layui-inline">
					<input type="text" name="name" id="name" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品标题</label>
				<div class="layui-inline">
					<input type="text" name="title" id="title" lay-verify="required" autocomplete="off" placeholder="请输入商品标题" class="layui-input">
				</div>
			</div>
	 	</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">列表售价</label>
				<div class="layui-input-inline">
					<input type="text" name="listPrice" id="listPrice" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品市场价</label>
				<div class="layui-input-inline">
					<input type="text" name="marketPrice" id="marketPrice" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品原价</label>
				<div class="layui-input-inline">
					<input type="text" name="baseValue" id="baseValue" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">商品折扣价</label>
				<div class="layui-input-inline">
					<input type="text" name="discount" id="discount" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">商品状态</label>
				<div class="layui-input-inline">
					<input type="radio" name="status" value="1" title="正常" checked="">
					<input type="radio" name="status" value="2" title="禁用" >
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">是否上架</label>
				<div class="layui-input-inline">
					<input type="radio" name="putaway" value="1" title="上架" checked="">
					<input type="radio" name="putaway" value="2" title="下架" >
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">库存数量</label>
				<div class="layui-input-inline">
					<input type="text" name="residue" id="residue" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">商品描述</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容" class="layui-textarea" name="describe" ></textarea>
			</div>
		</div>
		<!-- 商品列表图片-->
		<div class="layui-form-item layui-inline">
			<label class="layui-form-label" style="width: auto">商品列表图片</label>
			<div class="layui-input-inline">
				<input type="text" placeholder="商品列表图片" name="listImage" class="layui-input" style="width: auto">
			</div>
			<div class="layui-input-inline">
				<img id="showImage" style="height: 200px;width: 200px"/>
			</div>
			<!--<div class="layui-form-item layui-inline">-->
				<!--<input class="layui-form-item" type="hidden" name="imgs" id="bannerImageOne">-->
				<!--<button type="button" class="layui-btn" id="bannerButton">商品详情轮播图</button>-->
				<!--<div class="layui-upload-list">-->
					<!--<img class="layui-upload-img" id="bannerImage" style="height: 200px;width: 200px"/>-->
					<!--<p id="bannerImageText"></p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="layui-form-item layui-inline">-->
				<!--<input class="layui-form-item" type="hidden" name="imgs" id="bannerImageTwo">-->
				<!--<button type="button" class="layui-btn" style="visibility:hidden; display:block"></button>-->
				<!--<div class="layui-upload-list">-->
					<!--<img class="layui-upload-img" id="bannerImage1" style="height: 200px;width: 200px"/>-->
					<!--<p id="bannerImageText1"></p>-->
				<!--</div>-->
			<!--</div>-->
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品详情</label>
			<textarea id="detail" name="detail" class="layui-textarea"></textarea>
		</div>
 	   <div class="layui-form-item">
		    <div class="layui-input-block" style="text-align: center;">
		      	<button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit"><span class="layui-icon layui-icon-add-1"></span>提交</button>
      			<button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
		     </div>
 	   </div>
	</form>
</div>
<!-- 添加和修改的弹出层结束 -->



<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
var tableIns;
layui.extend({
    dtree: '/layui_ext/dtree/dtree',   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    tinymce: '/layui_ext/tinymce/tinymce'
  }).use(['jquery','form','table','layer','dtree','upload','tinymce','util','layedit'],function(){
		var $=layui.jquery;
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		var dtree=layui.dtree;
		var upload = layui.upload;
    	var tinymce = layui.tinymce;
    	var edit;

		$(function () {
			$.ajax({
			type: "POST",
			url: "/william-brand/getAllBrand",
			datatype: "json",//“xml”, “html”, “script”, “json”, “jsonp”, “text”.
			success: function (res) {
			    console.log(res)
				$.each(res.data, function (index, item) {
				    console.log(item)
					$("#bId").append(new Option(item.chName, item.id));// 下拉菜单里添加元素
				});
				form.render("select");
			},error:function() {

				}
			});
		});
		// 富文本编辑器
//    var layedit = layui.layedit;
//    var content = layedit.build('edit'); //建立编辑器这里的ID是上面的id

    	//加载 数据
		tableIns=table.render({
			elem: '#goodsTable'
			,url:'/william-product/getProductList'
			,toolbar: '#goodsToolBar' //开启头部工具栏，并为其绑定左侧模板
			,title: '商品数据表'
			,height:'full-125'
			,page: true
            ,even:true
            ,skin: 'row'
			,cols: [ [
				{field:'id', title:'ID',align:'center',width:'80'}
                ,{field:'listImage', title:'列表图片',align:'center',width:'120',event: 'openImg',templet:function (d) {
//                    var imHtml = '<img name="imgs" style="height: 50px;width: 50px" src="/images/goods/goodsList/'+ d.imgs +'"/>'
                    var imHtml = '<img name="listImage" style="height: 50px;width: 50px" src="'+ d.listImage +'"/>';
                    return imHtml;
                }}
				,{field:'name', title:'商品名称',align:'center',width:'120'}
				,{field:'bChName', title:'品牌',align:'center',width:'120',sort: true}
				,{field:'cName', title:'分类',align:'center',width:'120'}
				,{field:'listPrice', title:'售价',align:'center',width:'120',sort: true}
				,{field:'marketPrice', title:'市场价',align:'center',width:'120',sort: true}
				,{field:'sellTotal', title:'销售总量',align:'center',width:'120',sort: true}
                ,{field:'exchangeType', title:'兑换类型',align:'center',width:'120',sort: true}
				,{field:'exchangePoint', title:'兑换值',align:'center',width:'120',sort: true}
                ,{field:'givePoint', title:'获得积分',align:'center',width:'120',sort: true}
				,{field:'usePoint', title:'使用积分',align:'center',width:'120'}
                ,{field:'favorite', title:'收藏数',align:'center',width:'80'}
                ,{field:'putaway', title:'上下架',align:'center',width:'120',templet:function(d){
                    return d.putaway == 1?'<font color=blue>上架</font>':'<font color=red>下架</font>';
                }}
                ,{field:'status', title:'商品状态',align:'center',width:'120',templet:function (d) {
                    var result;
                    if(d.status == 1)
                        result = '<font color="green">正常</font>';
                    else if(d.status == 2)
                        result = '<font color=orange>禁用</font>';
					else if(d.status == 99)
                        result = '<font color=red>已删除</font>';
                    return result;
                }}
                ,{field:'createId', title:'创建人ID',align:'center',width:'80'}
                ,{field:'createTime', title:'创建时间',align:'center',width:'80'}
                ,{field:'modId', title:'修改人ID',align:'center',width:'80'}
                ,{field:'modTime', title:'修改时间',align:'center',width:'80'}
                ,{fixed: 'right', title:'操作', toolbar: '#goodsRowBar',align:'center',width:'200'}
			] ]
			,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
				if(res.data.length == 0 && curr !=1){
					tableIns.reload({
						page:{
							curr:(curr-1)
						}
					});
				}
                // 隔行换色
//                var that = this.elem.next()
//                res.data.forEach(function (item,index) {
//                    if(index % 2 == 0){
//                        var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color","#caf9fb");
//                    }
//						else{
//                            var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color","blue");
//						}
//                })
			}
		});
		
		//模糊查询
		form.on("submit(doSearch)",function(data){
			tableIns.reload({
				where:data.field,
				page:{
					curr:1
				}
			});
			return false;
		});
		
		//监听工具条的事件
		table.on("toolbar(goodsTable)",function(obj){
			 switch(obj.event){
			    case 'add':
			     openAddLayer();
			    break;
			  };
		});
		
		//监听行工具条的事件
		table.on("tool(goodsTable)",function(obj){
			 var data = obj.data; //获得当前行数据
			 switch(obj.event){
			    case 'update':
			   		updateProduct(data);
			    break;
			    case 'delete':
                    deleteProduct(data);
			    break;
			    case 'info':
					deleteProduct(data);
				break;
				 case 'openImg':
				     openImg(data);
					 break;
			  }
		});

		var mainIndex;
		var url;


		// 查看大图
		function openImg(data){
			var imHtml = '<img name="listImage" src="'+ data.listImage +'"/>';
			layer.open({
				skin: 'layui-layer-molv',
				type:1,
                offset: 'r',
				content:imHtml,
				area:['70%','100%'],
				title:'查看原图',
				success:function(){

				}
			});
		}


		//打开添加的弹出层
		function openAddLayer(){
			mainIndex=layer.open({
                skin: 'layui-layer-molv',
				type:1,
				content:$("#addOrUpdateDiv"),
				area:['100%','100%'],
				title:'添加商品',
				success:function(){
                    $("#dataFrm")[0].reset();
                    $("#cId").val("");
                    edit = tinymce.render({
                        elem: "#detail",
                        convert_urls: false
                        , height: '100%'
                        , width:'100%'
                        ,language:'zh_CN',
                        plugins: 'print preview searchreplace autolink directionality visualchars fullscreen image link media template code table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount textpattern paste emoticons indent2em autoresize',
                        toolbar: 'code undo redo | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright indent2em | \
                    	formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
                    	table image media emoticons charmap hr pagebreak insertdatetime | fullscreen ',
                        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
                        images_upload_url: '/editImageUpload'
                    	});
                    url="/william-product/addProduct";
//					//初始化排序码
//					$.get("/william-menu/getProductMaxOrderNum",function(res){
//						$("#seq").val(res.value);
//					});
					selectTree.setSelectValue("");
				}
			});
		}


		//打开修改的弹出层
		function updateProduct(data){
			mainIndex=layer.open({
                skin: 'layui-layer-molv',
				type:1,
				content:$("#addOrUpdateDiv"),
                area:['100%','100%'],
				title:'商品修改',
				success:function(){
                    console.log(data)
                    $('#showImage').attr('src',data.listImage);
                    edit = tinymce.render({
                        elem: "#detail",
                        convert_urls: false
                        , height: '100%'
                        , width:'100%'
                        ,language:'zh_CN',
                        plugins: 'print preview searchreplace autolink directionality visualchars fullscreen image link media template code table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount textpattern paste emoticons indent2em autoresize',
                        toolbar: 'code undo redo | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright indent2em | \
                    	formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
                    	table image media emoticons charmap hr pagebreak insertdatetime | fullscreen ',
                        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
                        images_upload_url: '/editImageUpload'
                    });
					//装载新的数据
					form.val("dataFrm",data);
					dtree.dataInit("productCategoryTree", data.cId);
   					dtree.setSelectValue("productCategoryTree");
					url="/william-product/updateProduct";
				}
			});
		}

		// 提交按钮
		form.on("submit(doSubmit)",function(data){
            var content = edit.getContent();
            data.field.detail = content;
			$.post(url,data.field,function(res){
					if(res.code == 200){
						tableIns.reload({
                            where:{
                                cId:$("#cId").val()
                            }
						});
						//刷新下拉树
						selectTree.reload();
					}
						layer.msg(res.msg);
						layer.close(mainIndex);
					});
			return false;
		});


		//删除商品
		function deleteProduct(data){
			layer.confirm('你确定要删除【'+data.name+'】吗?', {icon: 3, title:'提示',skin : 'layui-layer-molv'}, function(index){
				$.post("/william-product/deleteProduct",{id:data.id},function(res){
					if(res.code == 200){
						tableIns.reload();
						//刷新下拉树
						selectTree.reload();
					}
					layer.msg(res.msg);
				});
			   layer.close(index);
			});
		}

		//初始化 -- 分类 --下拉树
		var selectTree = dtree.renderSelect({
			  elem: "#productCategoryTree",
			  width: "100%", // 可以在这里指定树的宽度来填满div
			  dataStyle: "layuiStyle",  //使用layui风格的数据格式
		      dataFormat: "list",  //配置data的风格为list
		      response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
		      url: "/william-category/getCategoryLeftTreeJson" // 使用url加载（可与data加载同时存在）
			});

		//监听点击的方法
		dtree.on("node(productCategoryTree)" ,function(obj){
			$("#cId").val(obj.param.nodeId);
			  console.log(obj.param.nodeId); // 点击当前节点传递的参数
		});



//     	var uploadInst = upload.render({
//			elem: '#test1',
//			url: '/william-product/addProduct',
//			auto: false,//选择文件后不自动上传
//			bindAction: '#doSubmit',
//			//上传前的回调
//			before: function () {
//				this.data = {
//                    cId: $("#cId").val(),
//                    code: $("#code").val(),
//                    name: $("#name").val(),
//					putaway:  $("input[name='putaway']:checked").val(),
//                    describes: $("textarea[name='describes']").val()
//				};
//			},
//			//选择文件后的回调
//			choose: function (obj) {
//                //预读本地文件示例，不支持ie8
//                obj.preview(function(index, file, result){
//                    $('#demo1').attr('src', result); //图片链接（base64）
//                });
//			},
//			//操作成功的回调
//			done: function (res, index, upload) {
//				var code = res.code === 200 ? 1 : 2;
//				layer.alert(res.msg, {
//				    icon: code,
//                    skin: 'layui-layer-lan',
//                    closeBtn: 2,
//                    anim: 1
//				}, function () {
//					parent.window.location.reload();
//				})
//			},
//			//上传错误回调
//			error: function (index, upload) {
//                //失败状态，并实现重传
//				var demoText = $('#demoText');
//				demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
//				demoText.find('.demo-reload').on('click', function(){
//					uploadInst.upload();
//				});
//			}
//		});

		//普通图片上传
		var uploadInst = upload.render({
			 elem: '#test1'
			,url: '/imageUpload'
			,before: function(obj){
				//预读本地文件示例，不支持ie8
				obj.preview(function(index, file, result){
					$('#demo1').attr('src', result); //图片链接（base64）
				});
			}
			,done: function(res){
			    $("#imgs").val(res.data.fileName);
			    var code = res.code === 200 ? 1 : 2;
			    layer.msg(res.msg,{
			        icon:code
				});
			}
			,error: function(){
				//演示失败状态，并实现重传
				var demoText = $('#demoText');
				demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
				demoText.find('.demo-reload').on('click', function(){
					uploadInst.upload();
				});
			}
		});


    });
	
	// 给其它页面刷新当前页面数据表格的方法
	function reloadTable(id){
	    console.log(id)
		tableIns.reload({
			where:{
                cId:id
			},
			page:{
				curr:1
			}
		});
	}




</script>

</body>
</html>