<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>幸运转盘配置</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
<link rel="stylesheet" href="/layui_ext/dtree/dtree.css" media="all" />
<link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css" media="all" />

</head>
<body class="childrenBody">
<!-- 查询条件 -->
<blockquote class="layui-elem-quote">
	<form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
		<div class="layui-form-item layui-inline">
		    <div class="layui-inline">
			  <label class="layui-form-label">创建人</label>
			  <div class="layui-input-inline" >
				<input type="text" name="createId" autocomplete="off" class="layui-input">
			  </div>
				<label class="layui-form-label">修改人</label>
				<div class="layui-input-inline">
					<input type="text" name="modId" autocomplete="off" class="layui-input">
				</div>
			</div>
		  </div>
			<div class="layui-input-inline" style="text-align: right;">
				<button type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
				<button type="reset"  class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
			</div>
		</form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
	<table class="layui-hide" id="luckdrawTable" lay-filter="luckdrawTable"></table>
	<div id="luckdrawToolBar" style="display: none;">
		<button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加</button>
	</div>
	<div id="luckdrawRowBar" style="display: none;">
		<button type="button" lay-event="update" class="layui-btn layui-btn-sm layui-btn-normal"><span class="layui-icon layui-icon-edit layui-bg-blue"></span>更新</button>
		<button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-note"></span>删除</button>
	</div>
</div>

<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
	<form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
		<input type="hidden" name="id">
		<input type="hidden" name="createId">
		<input type="hidden" name="modId">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">360起始点</label>
				<div class="layui-input-inline">
					<input type="text" name="startAngle" lay-verify="required" autocomplete="off" placeholder="活动标题" class="layui-input">
				</div>
				<label class="layui-form-label">360结束点</label>
				<div class="layui-input-inline">
					<input type="text" name="endAngle" lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div  class="layui-inline">
				<label class="layui-form-label">奖励商品ID</label>
				<div class="layui-input-inline">
					<input type="text" name="goodsId" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">中奖</label>
				<div class="layui-input-inline">
					<input type="text" name="value" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div  class="layui-inline">
				<label class="layui-form-label">奖品总数</label>
				<div class="layui-input-inline">
					<input type="text" name="total" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">奖品剩余数</label>
				<div class="layui-input-inline">
					<input type="text" name="residue" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div  class="layui-inline">
				<label class="layui-form-label">中奖概率</label>
				<div class="layui-input-inline">
					<input type="text" name="probability" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">概率指数</label>
				<div class="layui-input-inline">
					<input type="text" name="digital" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">状态</label>
				<div class="layui-input-inline">
					<select name="status" lay-verify="required" lay-search="">
						<option value="1">启用</option>
						<option value="2">停用</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">创建人</label>
				<div class="layui-input-inline">
					<input type="text" name="cname" readonly="readonly"  autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input type="text" name="createTime" readonly="readonly"  autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">修改人</label>
				<div class="layui-input-inline">
					<input type="text" name="mname" readonly autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">修改时间</label>
				<div class="layui-input-inline">
					<input type="text" name="modTime" readonly  autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
 	   <div class="layui-form-item">
		    <div class="layui-input-block" style="text-align: center;">
		      	<button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
      			<button type="reset" onclick="javascript:(0)" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
		     </div>
 	   </div>
	</form>
</div>
<!-- 添加和修改的弹出层结束 -->



<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/user/address.js"></script>
<script type="text/javascript">
var tableIns;
var areaData = address;
layui.extend({
    dtree: '/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
  }).use(['jquery','form','table','layer','dtree','laydate'],function(){
		var $=layui.jquery;
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		var dtree=layui.dtree;
    	$form = $('form');
    	var laydate = layui.laydate;
		// 渲染日期
		laydate.render({
			elem: '#createTime',
            type: 'datetime'
		});

		// 渲染日期
		laydate.render({
			elem: '#modTime',
			type: 'datetime'
		});

		//加载 数据
		 tableIns=table.render({
			 elem: '#luckdrawTable'
		    ,url:'/william-luckdraw-config/getLuckdrawConfigList'
		    ,toolbar: '#seckillToolBar' //开启头部工具栏，并为其绑定左侧模板
		    ,title: '秒杀活动'
		    ,height:'full-155'
		    ,page: true
		    ,cols: [ [
		      {field:'id', title:'ID',align:'center',width:'80'}
		      ,{field:'startAngle', title:'360起始点',align:'center',width:'100'}
              ,{field:'endAngle', title:'360结束点',align:'center',width:'100'}
              ,{field:'value', title:'奖励',align:'center',width:'100'}
		      ,{field:'goodsId', title:'奖励商品ID',align:'center',width:'100'}
			  ,{field:'type', title:'类型',align:'center',width:'100'}
			  ,{field:'total', title:'奖品总数',align:'center',width:'100'}
			  ,{field:'residue', title:'奖品剩余数',align:'center',width:'100'}
			  ,{field:'probability', title:'中奖概率',align:'center',width:'100'}
              ,{field:'digital', title:'概率指数',align:'center',width:'100'}
			  ,{field:'cname', title:'创建人',align:'center',width:'100'}
              ,{field:'createTime', title:'创建时间',align:'center',width:'100'}
			  ,{field:'mname', title:'修改人',align:'center',width:'100'}
              ,{field:'modTime', title:'修改时间',align:'center',width:'100'}
		      ,{field:'status', title:'状态',align:'center',width:'80',templet:function(d){
		    	  return d.status == 1?'<font color=blue>启用</font>':'<font color=red>停用</font>';
		      }}
		      ,{fixed: 'right', title:'操作', toolbar: '#luckdrawRowBar',align:'center',width:'200'}
		    ] ]
		    ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
		        if(res.data.length== 0 && curr!=1){
		        	tableIns.reload({
		        		page:{
		        			curr:(curr-1)
		        		}
		        	});
		        }
		      }
		});

		//模糊查询
		form.on("submit(doSearch)",function(data){
		    console.log(data.field);
			tableIns.reload({
				where:data.field,
				page:{
					curr:1
				}
			});
			return false;
		});
		
		//监听工具条的事件
		table.on("toolbar(luckdrawTable)",function(obj){
			 switch(obj.event){
			    case 'add':
			     openAddLayer();
			    break;
			  };
		});
		
		//监听行工具条的事件
		table.on("tool(luckdrawTable)",function(obj){
			  var data = obj.data; //获得当前行数据
			 switch(obj.event){
			    case 'update':
			   		openUpdateLayer(data);
			    break;
			    case 'delete':
                    deleteGoods(data);
			    break;
			  };
		});

		//删除商品
		function deleteGoods(data){
			layer.confirm('你确定要删除【'+ data.value +'】吗?', {icon: 3, title:'提示',skin : 'layui-layer-molv'}, function(index){
				$.post("/william-luckdraw-config-goods/deleteLuckdrawConfig",{id:data.id},function(res){
					if(res.code == 200){
						tableIns.reload();
						//刷新下拉树
						selectTree.reload();
					}
					layer.msg(res.msg);
				});
				layer.close(index);
			});
		}

		var mainIndex;
		var url;

		//打开添加的弹出层
		function openAddLayer(data){
			mainIndex=layer.open({
                skin: 'layui-layer-molv',
				type:1,
				content:$("#addOrUpdateDiv"),
//				customerDistricts:['1300px','1300px'],
                area: ['100%','100%'],
				title:'添加配置',
				success:function(){
					$("#dataFrm")[0].reset();
					url="/william-luckdraw-config/addLuckdrawConfig";
					form.render("select");
				}
			});
		}
		
		//打开修改的弹出层
		function openUpdateLayer(data){
			mainIndex=layer.open({
                skin: 'layui-layer-molv',
				type:1,
				content:$("#addOrUpdateDiv"),
//				customerDistricts:['1300px','1300px'],
                area: ['100%','100%'],
				title:'修改配置',
				success:function(){
					$("#dataFrm")[0].reset();
					//装载新的数据
					form.val("dataFrm",data);
					url="/william-luckdraw-config/updateLuckdrawConfig";
				}
			});
		}

		form.on("submit(doSubmit)",function(data){
		    // checkBox
            var checkBoxValue = $("input:checkbox[name='asManager']:checked").val();
            data.field.asManager = checkBoxValue != null ? 1 : 2;
			 $.post(url,data.field,function(res){
					if(res.code==200){
						tableIns.reload();
					}
					layer.msg(res.msg);
					layer.close(mainIndex);
				});
			return false;
		});

		//监听用户名的失去焦点事件
//		$("#customername").on("blur",function(){
//			var customername=$(this).val();
//			$.get("/william-luckdraw-config/changeChineseToPinyin",{customername:customername},function(res){
//				$("#loginname").val(res.value);
//			})
//		});


	});
</script>

</body>
</html>