<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>幸运转盘左侧说明</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
<link rel="stylesheet" href="/layui_ext/dtree/dtree.css" media="all" />
<link rel="stylesheet" href="/layui_ext/dtree/font/dtreefont.css" media="all" />
</head>
<body>
<blockquote class="layui-elem-quote title" style="color: red">幸运转盘使用规则说明</blockquote>
<div class="layui-elem-quote layui-quote-nm">
    <p>* 幸运转盘一周为360度 </p>
    <p>* 配置各奖励级别,起始点与结束点</p>
    <p>* 各奖励级别起始点与结束点区间范围之和必须为360度</p>
    <p>* 配置奖品数量</p>
    <p>* 配置奖励商品</p>
    <p>* 没有商品配置奖励跳转地址</p>
    <p style="color:#f00;">* 中奖概率 例如:1/10000 配置中奖概率为10000 1等奖指数为1</p>
    <p>* 我们为您提供软件需求的最终解决方案</p>
    <br />
    <p># 如有任何问题,请咨询18701192829 - 2019-12-01</p>
</div>
</body>
</html>